* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #2c3e50;
  width: 600px;
  height: 60rem;
}

/*Animation*/
.bar {
  width: 6px;
  height: 60px;
  background: #ecf0f1;
  display: inline-block;
  animation: anim 1s ease-in-out infinite;
  border-radius: 20%;
}
.animation {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  background: #34495e;
  border-radius: 20px;
  padding: 10px 60px;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

/* Animator*/
@keyframes anim {
  0% {
    transform: scaleY(0.5);
    background-color: #e74c3c;
  }
  50% {
    transform: scaleY(1);
    background-color: #3498db;
  }
  100% {
    transform: scaleY(0.5);
    background-color: #2ecc71;
  }
}
